.logo {
  .subtitle {
    color: #98a6ad;
    &:hover {
      color: #f49344;
    }
  }
}
.container {
  height: 100%;
}
.mb-3 {
  margin: 3%;
}
footer {
  padding: 1rem 0.875rem;
  border-top: 1px solid #98a6ad;
  li {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .text-right {
    text-align: right;
  }
  a {
    color: #98a6ad;
    text-decoration: none;

    &:hover {
      color: #f49344;
    }
  }
  .footer__RS-logo {
    width: 5rem;
    height: 2rem;
    padding: 2px;
  }
  .footer__RS-logo:hover {
    opacity: 0.8;
  }
}
.btn-primary {
  display: block;
  margin: 20px auto;
  min-width: 200px;
}
.grey-text {
  padding-left: 3rem;
}
.display-4 {
  color: #6c757d;
}
.lead {
  padding-top: 1rem;
  color: #8391a2;
}
.btn-main-go {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 2.5rem;
}

.header-1 {
  height: 1000px;
}
.mycontent {
  margin-left: 10rem !important;
  margin-right: 30rem !important;
  padding-top: 15rem;
}
.card {
  h2 {
    color: #f49344;
  }
}
