aside {
  position: relative;
  min-width: 0;
  background: #313a46;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sider {
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
  width: 256px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #9a99a2;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: #a8d2a0;
  }
  &.collapsed {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    .menu,
    .sider__role {
      display: none;
    }
  }
}
.sider__role {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0px 4px 0px;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #f49344;
}
.menu {
  padding-top: 2rem;
}
.sider__content {
  flex-direction: row;
  height: 100%;
}
.openbtn {
  position: absolute;
  top: 7px;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 2px;
  background-color: #f49344;
  margin: 6px 0;
  transition: 0.4s;
}
