aside {
  position: relative;
  min-width: 0;
  background: #313a46;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sidebar {
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
  width: 256px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #9a99a2;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: #a8d2a0;
  }
  &.collapsed {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    .menu,
    .sidebar__role {
      display: none;
    }
  }
}
.sidebar__role {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0px 17px 0px;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #f49344;
}
.menu {
  padding-top: 2rem;
}
.sidebar__content {
  flex-direction: row;
  height: 100%;
}
.openbtn {
  position: absolute;
  top: 11px;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 2px;
  background-color: #f49344;
  margin: 6px 0;
  transition: 0.4s;
}
.dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', 'tnum';
  position: absolute;
  z-index: 1050;
  display: block;
}
.dropdown-menu-container {
  right: 20px;
  top: 68px;
}
.dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateZ(0);
}
.dropdown-hidden,
.dropdown-menu-hidden {
  display: none;
}
.dropdown-menu-item {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu-item:hover {
  background-color: #e6f7ff;
}
