table {
  border-spacing: 0 10px;
  width: 900px;
  padding: 20px;
  background-color: #ffffff;
  margin: 3%;
}
thead {
  tr {
    color: #6c757d;
    font-size: 15px;
  }
}
tbody {
  tr {
    color: #6c757d;
    font-size: 13px;
    border-bottom: 1px solid #d1cfd7;
  }
  td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #d1cfd7;
  }
  .table__action {
    a {
      padding: 0.3rem;
      text-decoration: none;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
