.table {
  border-spacing: 0 10px;
  width: 100%;
  background-color: #ffffff;
  thead {
    tr {
      color: #6c757d;
      font-size: 15px;
    }
  }
  tbody {
    tr {
      color: #6c757d;
      font-size: 13px;
      border-bottom: 1px solid #d1cfd7;
    }
    td {
      font-size: 14px;
      border-bottom: 1px solid #d1cfd7;
    }
    .table__action {
      a {
        text-decoration: none;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .button-svg {
      display: flex;
      padding: 0;
      margin-left: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 3.5em;
    }
  }
}
.group__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  color: #6c757d;
  text-align: left;
}
